<section>
  <h3>90 Day Goal: {{goal.goal90}}</h3>
  <h3>Daily Goal: {{goal.dailyGoal}}</h3>
  <h3>Description: {{goal.description}}</h3>
  <h3>Reward: {{goal.reward}}</h3>
  <h3>Counter: {{goal.dailyCounter}}</h3>
  <!-- <h3>End date: {{goal.endDate}}</h3> -->
</section>
