<section>
  <h3>90 Day Goal: {{goal.goal90}}</h3>
  <h3>Daily Goal: {{goal.dailyGoal}}</h3>
  <h3>Description: {{goal.description}}</h3>
  <h3>Reward: {{goal.reward}}</h3>
  <h3>Total daily completions: {{goal.dailyCounter}}</h3>
</section>
