<section class=''>
  <h2>goals</h2>
  <ul id="goalList">
    {{#each goals}}
    <div class="list">
      <li>
        <form action='/updateGoal' method='post'>Daily Goal: {{this.dailyGoal}}
          <input class="clip" value={{this.dailyGoal}} name="dailyGoal">
          {{#if this.dailyCheck}}
            <input type="checkbox", name="completion", onClick="submit()", checked>
            {{else}}
            <input type="checkbox", name="completion", onClick="submit()">
          {{/if}}
        </form>
      </li>
      <li>90 Day Goal: {{this.goal90}}</li>
      <li class="clip" id="endDate">{{this.endDate}}</li>
      <form class="" action="/goaldetails" method="get">
        <button type="submit" name="goal" value={{this._id}}>More</button>
      </form>
    </div>
    {{/each}}
  </ul>
  {{>goalCountdown}}
</section>
